body {
  padding: 0;
  margin: 0;
}

.chaz {
  background-color: #ebebebeb;
  padding: 5px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
